.preNav {
  background-color: rgb(29, 28, 28);
  color: white;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.preNav > div {
  padding: 0.5vmax;
  display: flex;
  align-items: center;
}

.preNav > div > span {
  color: grey;
  font-weight: 100;
  font-size: 0.8vmax;
}

.preNav > div > a {
  text-decoration: none;
  color: rgb(121, 118, 118);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax;
  font-size: 0.9vmax;
  font-weight: 300;
}
.preNav > div > a:hover {
  color: white;
}

.preNav > div svg {
  fill: rgb(180, 180, 180);
}
.preNav > div svg:hover {
  fill: white;
}
